:root {
  --primary-background: #fff;
  --primary-border-card: rgba(0, 0, 0, 0.125);
  --primary-date: grey;
  --primary-title: #6940d3;
  --primary-label: black;
  --primary-organisation: black;
  --primary-input-border: #e1e4e8;
  --primary-input-background: #fff;
  --primary-contact-background: #dee3de;
  --primary-search-dropdown: #f0eee4;
  --primmary-shadow: rgb(133, 130, 130);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -10;
  transition: 2s;
  background-color: var(--primary-background);
}

html {
  scroll-behavior: smooth;
}
/* Navbar Section */
#quickLearnLogoImg {
  width: 150px;
}
#navResourceBtn {
  margin-left: auto;
  width: 18%;
  text-align: center;
  background-color: var(--primary-title);
  border: 2px solid var(--primary-title);
  color: white;
  font-size: 1.2rem;
  transition: 0.1s linear all;
}
#navResourceBtn:hover {
  border: 2px solid var(--primary-title);
  color: var(--primary-title);
  background-color: white;
}
/* About Us Section */
#mainHeading {
  font-family: "Poppins", serif;
  font-weight: bolder;
  font-size: 3rem;
  color: var(--primary-title);
}
#mainParagraph {
  font-size: 20px;
}
#infoImg1 {
  width: 60%;
  margin-left: 10%;
}
#exploreBtn {
  background-color: var(--primary-title);
  border: 3px solid var(--primary-title);
  color: white;
  font-size: 1.3rem;
  transition: 0.1s linear all;
  width: 50%;
}
#exploreBtn:hover {
  border: 3px solid var(--primary-title);
  color: var(--primary-title);
  background-color: white;
}
/* Dsc Corner */
#infoImg2 {
  width: 60%;
  margin-left: 0%;
}
#contributionBtn {
  background-color: var(--primary-title);
  border: 3px solid var(--primary-title);
  color: white;
  font-size: 1.3rem;
  transition: 0.1s linear all;
  width: 70%;
}
#contributionBtn:hover {
  border: 3px solid var(--primary-title);
  color: var(--primary-title);
  background-color: white;
}
/* Feature Section */
#featureHeading {
  margin-top: 20px;
  color: var(--primary-title);
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-align: center;
}
.card {
  transition: all 0.2s ease-in;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #f0eee4;
}
/* Reference Section */
#resourceReferenceBox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 900px;
  padding: 30px;
  filter: brightness(80%);
}
#resourceReferenceHeading {
  font-size: 4rem;
  line-height: 5.5rem;
  color: white;
  margin-left: 3%;
}
#referenceButton {
  border-radius: 45px;
  font-size: 1.3rem;
  width: 260px;
  margin-left: 3%;
  border: 2px solid white;
  color: white;
}

/* #resource {
  background: var(--primary-contact-background);
} */
/* sidebar */
.contribution-btn {
  border: none;
  background: none;
  margin: 0.5rem auto;
  width: 100%;
  box-shadow: 1px 1px 5px var(--primary-title);
  border-radius: 20px;
  font-family: sans-serif;
  color: var(--primary-label);
  padding: 8px;
  color: white;
  background: var(--primary-title);
}
.btn-style {
  border: none;
  background: none;
  margin: 0.5rem auto;
  width: 100%;
  box-shadow: 1px 1px 5px var(--primary-title);
  border-radius: 20px;
  font-family: sans-serif;
  color: var(--primary-label);
  padding: 8px;
}

#sidebar {
  background: var(--primary-background);
  width: fit-content;
  border-radius: 15px;
  box-shadow: 1px 1px 30px var(--primmary-shadow);
}
#categoryText {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
#resourceContainer {
  display: flex;
}
/* Initially for Contribution Guidlines */
#resourceBox {
  display: none;
}
.resource-heading {
  font-size: 2.2rem;
  font-weight: 800;
  font-family: monospace;
}

.category .select-option {
  display: none;
}
.select-category-btn {
  display: block;
  width: 100%;
  color: gray;
  margin: 0px;
  text-align: left;
  font-weight: 800;
  font-size: 1.2rem;
  font-family: monospace;
}
.select-category-btn:hover {
  background-color: var(--primary-contact-background);
}
.view-more-btn {
  width: 100%;
  background-color: var(--primary-title);
  color: white;
  transition: 0.03s linear all;
}
.view-more-btn:hover {
  background-color: white;
  color: var(--primary-title);
  border: 2px solid var(--primary-title);
}
/* Footer */
footer {
  border-top: 2px solid var(--primary-border-card);
  width: 100%;
  color: #746464;
  text-align: center;
  flex: none;
  position: sticky;
  top: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
}
.fc {
  width: fit-content;
  /* box-shadow: 2px 2px 30px rgb(226, 223, 223); */
}
.font {
  font-weight: 600;
}
.contributionHead {
  color: var(--primary-title);
  font-size: 1.2rem;
}
/* Responsiveness */
@media screen and (max-width: 768px) {
  #mainHeading {
    font-size: 2rem;
  }
}
